:root {
    --color1 : #2D3250;
    --color2 : #424769;
    --color3 : #676F9D;
    --color4 : #A7ABC2;
    --color5 : #E7E7E7;
    --color6 : #F9B17A;
}


* {
    padding: 0;
    margin: 0;
}


body {
    display: flex;
    flex-direction: column;
    background-color: var(--color1);
    gap: 1.5em;
    margin: 1em;
}

.body-section {
    background-color: var(--color2);
    padding: 1em;
    border-radius: 5px;
}

#job-input-form {
    display: flex;
    flex-direction: column;
}

.job-input-form-section {
    display: block;
    width: 50%;
    margin: 10px 0;
}

#job-display-block {
    display: flex;
    flex-direction: column;
}

#job-display-cards {
    display: flex;
    flex-direction: row;
    height: 120px;
    align-items: center;
    overflow: auto;
    gap: 1em;
}

.job-display-card {
    display: block;
    background-color: var(--color6);
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    padding: 1em;
}

#optimized-jobs-timeline {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.optimized-job-tile {
    display: block;
    background-color: var(--color2);
    width: 50px;
    height: 50px;
    border-color: var(--color1);
    border-width: 0.5em;
}

#optimized-jobs-refresh {
    display: block;
}